body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-color: #ffffff;
    h2 {
    display: inline-block;
    border-bottom: 3px solid #66cdaa;
    padding-bottom: 5px;
    margin-bottom: 10px; 
}
   h3 {
    display: inline-block; 
    border-bottom: 3px solid #ffa500;
    padding-bottom: 5px;
    margin-bottom: 10px; 
} 
}

html {
    scroll-behavior: smooth;
}

.header-menu {
    **position: fixed;**
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 15px 20px;
    z-index: 100;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    

    display: flex; 
    justify-content: space-between; 
    align-items: center;}

.header-menu h1 {
    margin: 0; 
    font-size: 1.5em;
}

.detail-button {
    background-color: #007bff;
    color: white;
    text-decoration: none;
    padding: 20px 20px;
    border-radius: 20px;
    cursor: pointer;
}

.main-content {
    **padding-top: 5px;
}

.dropdown-menu {
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #444;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    
    max-height: 500px; 
    opacity: 1;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
}

/* 閉じた状態 (JavaScriptがこのクラスを付け外しする) */
.dropdown-menu.is-closed {
    max-height: 0; 
    opacity: 0;
    overflow: hidden;
}

.dropdown-menu a {
    display: block;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-bottom: 1px solid #555;
}


/* その他のセクションの基本スタイル */
section {
    padding: 50px 20px;
    /* min-height: 50vh; */ /* 必要に応じて調整 */
}


   h2 {
    display: inline-block;
    border-bottom: 3px solid #66cdaa;
    padding-bottom: 5px;
    margin-bottom: 10px; 
}
   h3 {
    display: inline-block; 
    border-bottom: 3px solid #ffa500;
    padding-bottom: 5px;
    margin-bottom: 10px; 
} 
